
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f6f9;
        margin: 100px;
    }
    .container{
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px rgba(255, 0, 0, 0.1);
        margin: auto;
    }
    .title{
        font-size: 32px;
        font-weight: bold;
        color: #2c3e50;
        text-align: center;
       
        margin-bottom: 20px;
        border-bottom: 3px solid rgba(14, 27, 93, 0.267) ;
        padding-bottom: 10px;

    }
    .content{
        font-size: 18px;
        color: #555;
        line-height: 1.8;
        letter-spacing: 2px;
        text-align: justify;
    }
    .content p{
        margin-bottom: 25px;

    }